<div class="col-md-4 col-sm-12">
      <p>
      <!-- <%= @followup.comments.count %> comment(s) -->
      </p>

  <% @followup.comments.limit(2).each do |comment| %>
    <div class="card mt-2 p-1" style="background-color: #f8f9fa; border: none">
      <strong><%= comment.commentar %></strong>
      <small><%=time_ago_in_words(comment.created_at)%> ago</small>
    </div>
<% end %>


<div class="commmet-form mt-5">
  <h4>Ada Komen ke boss?</h4>
<%= render 'comments/form' %>
</div>
    </div><!-- md-4 -->
  </div> 
</div>